body {
    margin: 0px;
    font-family: 'Anek Malayalam', sans-serif;
    font-family: 'Poppins', sans-serif
}

.full_width {
    width: 1400px;

    margin: 0 auto;
}

.canvas {
    width: 1200px;
    margin: 0 auto;
}

.content_in_banner {
    text-align: center;
    padding: 50px 300px;

}

.content_in_banner h1 {
    font-size: 50px;
    color: #ffffff;

}

.content_in_banner p {
    font-size: 20px;
    color: #ffffff;
    padding: 0px 80px 0px 80px;
}

.anchor_location {
    text-decoration: none;
    color: #ffffff;
    background-color: #FF5959;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
}

.banner_section {
    height: 600px;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}



.banner_section {
    min-height: 600px;
    background-color: black;
    background-size: cover;
    position: relative;
    box-sizing: border-box;
}

.donate {
    min-height: 400px;

}

.donate_content {
    text-align: center;
}

.donate_section_header {
    font-size: 50px;
    font-weight: 600;
}

.donate_content p {
    padding: 0px 100px;
}

.donate_content ul {
    padding-top: 50px;
}

.donate_content ul li {
    list-style-type: none;
    display: inline;
    padding: 30px;
    font-size: 25px;
    font-weight: 600;

}

#different_list {
    border: 2px solid;
    color: #FF5959;
    border-radius: 5px;

}

#enter_taka {
    margin-top: 50px;
    padding: 20px 200px;
    border: none;
}

hr {
    margin: 0px 250px;
}

#enter_taka::placeholder {
    font-size: 20px;
    width: 100%;
    padding-right: 10px;
}

.donate_plan {
    text-align: center;
    padding-top: 100px;
}

.donate_plan_head {
    width: 60%;
    margin: 0 auto;
}

.for_card {
    display: flex;
    text-align: left;
    margin-top: 50px;


}

.card {
    margin: 0px 10px 0px 0px;
    padding: 10px;
}

.active_card {
    background-color: #FFF4D6;
}

.donars {
    background-image: url(images/02.jpeg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin-top: 50px;
    background-position: center center;

}

.donars_content {
    height: 350px;
    width: 70%;
    background-color: #EC4D23;
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
    text-align: center;
    border-radius: 10px;
}

.donars_content h1 {
    padding-top: 60px;
    color: #ffffff;
    font-size: 30px;
}

.update_section {
    text-align: center;
    margin-top: 700px;
}

.update_section p {
    padding: 0px 200px 100px 200px;
}

.form_back {
    background-color: #FFF4D6;
    padding: 10px 0px 20px 0px;

    width: 70%;
    margin: 0 auto;
}

.form {
    text-align: left;
    margin: 0 auto;
    width: 380px;
    padding-bottom: 20px;

}

.form div input {
    padding: 10px 5px;
}

label {
    font-size: 20px;
    font-weight: 600;
}

.input_full {
    width: 100%;
    padding: 10px 5px;
}

.form_button {
    padding: 10px 30px;
}

footer {
    text-align: center;
    height: 150px;
    background-color: black;
    margin: 0 auto;
    width: 1400px;
    margin-top: 100px;
}

footer h1 {
    color: #FF5959;
    padding-top: 20px;
    font-family: 'Tapestry', cursive;
}

footer p {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Tapestry', cursive;
}