body {
    margin: 0px;
    font-family: 'Anek Malayalam', sans-serif;
    font-family: 'Poppins', sans-serif
}

.full_width {
    width: 1400px;

    margin: 0 auto;
}

.canvas {
    width: 1200px;
    margin: 0 auto;
}

.content_in_banner {
    text-align: center;
    padding: 50px 300px;

}

.content_in_banner h1 {
    font-size: 50px;
    color: #ffffff;
}

.content_in_banner p {
    font-size: 20px;
    color: #ffffff;
    padding: 0px 80px 0px 80px;
}

.anchor_location {
    text-decoration: none;
    color: #ffffff;
    background-color: #FF5959;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
}

/*.banner_section {
    height: 600px;
    background-image: url(images/donation0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner_section:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
}
*/
.banner_section {
    min-height: 600px;
    background-color: black;
    background-size: cover;
    position: relative;
}

/*
.banner_section:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: 0.3;
}
*/
.donate {
    min-height: 400px;

}

.donate_content {
    text-align: center;
}

.donate_content h1 {
    font-size: 50px;
    font-weight: 500;
}

.donate_content p {
    padding: 0px 100px;
}

.donate_content ul {
    padding-top: 50px;
}

.donate_content ul li {
    list-style-type: none;
    display: inline;
    padding: 30px;
    font-size: 25px;
    font-weight: 600;

}

#different_list {
    border: 2px solid;
    color: #FF5959;
    border-radius: 5px;

}

#enter_taka {
    margin-top: 50px;
    padding: 20px 200px;
    border: none;
    border-bottom: 1px solid gray;
}

#enter_taka::placeholder {
    font-size: 20px;
    width: 100%;
    padding-right: 10px;
}